{
  "plugins": [
    "prettier-plugin-organize-imports"
  ],
  "bracketSpacing": true,
  "singleQuote": true,
  "printWidth": 120,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "organizeImportsSkipDestructiveCodeActions": true
}
